{% extends "layout.html" %}

{% set bodyId = "page-ideas" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}

    <header>
        <a href="/">
            <img src="logo.png" alt="imagem de logomarca">
        </a>
        <nav>
            <li><a href="/">Início</a></li>
            <li><a href="#" onclick="onOff()">Nova Ideia</a></li>
        </nav>
    </header>
    
    <section id="title">
        <p>em exibição</p>
        <h1>ideias</h1>
    </section>

    <main>
        <section id="ideas">
            {% include "all_ideas.html"%}
        </section>    
    </main>
    <footer>
        Com ♥️ <a href="http://rocketseat.com.br" target="blank">Rocketseat</a>
    </footer>

        {% endblock %}